spring:
  application:
    name: hanpro
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hannam_data?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: ''
    password: ''
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

jwt:
  secret: ''


server:
  address: localhost
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
